$orange: #ffa800;

#Features
{
  position: relative;
  background-color: #333;

  .stickyRow
  {
    top: 69px; 
    position: sticky; 
    z-index: 999;
  }

  .featuresMenu
  {
    border-radius: 7px;
    box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.50);
    background-color: #000000;

    padding: 0.5em;

    li {
      margin: 0;
    }

    .nav-link
    {
      color: #fff;

      &.active
      {
        background-color:$orange;
        color: #fff;
      }
    }
  }

  .modal-dialog
  {
    a
    {
      border: none;
      color: #000;
    }
  
    .tab-content a
    {
      color: #ffa800;
    }

    .tab-content .gray
    {
      color: #888;
    }
  }
 

  h2
  {
    color: #fff;
  }

  .feature
  {
    /* padding: 2rem 0rem; */
    margin: 2rem 0rem 4rem;
    color: #fff;

    .description
    {
      margin: 0;
    }
  }

}



