{{ define "main" }}
<main id="Blog">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-8">
                    <div class="post">
                        <div class="header">
                            <h2 class="display-1">{{ .Params.title}}</h2>
                            {{ with .Params.author }}
                                <span class="author mr-3"><a href="" class="author">{{ . }}</a></span>
                            {{ end }}
                            {{ with .Params.date }}
                            <span class="date">{{ time.Format "Monday, Jan 2, 2006" .}}</span>
                            {{ end }}
                        </div>
                        <div class="content">
                            {{ .Content }}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 mt-2 mt-0-md">
                    <div class="sidebar sticky-top">
                        <hr class="d-md-block d-lg-none mb-5 thin">
                        <div class="list">
                            <h4>Recent posts:</h4>
                            <ul class="list-group list-group-flush mb-2">
                                {{ range ( first 5 ( where .Site.RegularPages "Type" "posts").ByDate.Reverse ) }}
                                <li class="list-group-item"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                                {{end}}
                            </ul>
                            <a href="{{ "/posts/" | relLangURL }}" class="link">All posts</a>
                        </div>

                        <div class="list mt-5">
                            <h4>Categories:</h4>
                            <ul class="list-group list-group-flush">
                            {{ range .Site.Taxonomies.categories.ByCount }}
                                <li class="list-group-item"><a href="{{ .Page.RelPermalink }}">{{ .Page.Title | title}}</a></li>
                            {{ end }}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{ end }}