{{ "<!-- DOWNLOAD -->" | safeHTML }}
<section id="Download">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{ with .Site.Params.download.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                    <hr>
                {{ end }}
            </div>
        </div>
        <div class="row">
          <div class="col-md-6 mt-5">
                {{ with .Site.Params.download.beta }}
                    <h3><strong>{{ .headline | markdownify }}</strong></h3>
                    <p class="text-faded">{{ .description | markdownify }}</p>
                    <a href="{{ .button.link }}" class="btn btn-primary btn-xl" target="{{ .button.target }}" >{{ .button.text }}</a>
                {{ end }}
            </div>
          <div class="col-md-6 mt-5">
                {{ with .Site.Params.download.gamma }}
                    <h3><strong>{{ .headline | markdownify }}</strong></h3>
                    <p class="text-faded">{{ .description | markdownify }}</p>
                    <a href="{{ .Download.link }}" class="btn btn-primary btn-xl" target="{{ .button.target }}" >{{ .Download.text }}</a>
                    <span class="version text">&nbsp;&nbsp;{{ .Download.version | markdownify }}</span>
                    <br>
                    <a href="#{{ .additionalDownloads.link }}" class="btn btn-dark mt-3 px-3 py-2 btn-sm" data-toggle="modal" data-target="#{{ .additionalDownloads.link }}">{{ .additionalDownloads.text }}</a>
                {{ end }}
            </div>
        </div>
    </div>
</section>
