{{ "<!-- DOWNLOAD -->" | safeHTML }}
<section class="bg-primary" id="Download">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{ with .Site.Params.download.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                    <hr>
                {{ end }}
            </div>
        </div>
        <div class="row">
          <div class="col-md-6">
                {{ with .Site.Params.download.beta }}
                    <h3><strong>{{ .headline | markdownify }}</strong></h3>
                    <p class="text-faded">{{ .description | markdownify }}</p>
                    <a href="{{ .button.link }}" class="btn btn-primary btn-xl">{{ .button.text }}</a>
                {{ end }}
            </div>
          <div class="col-md-6">
                {{ with .Site.Params.download.gamma }}
                    <h3><strong>{{ .headline | markdownify }}</strong></h3>
                    <p class="text-faded">{{ .description | markdownify }}</p>
                    <a href="{{ .button.link }}" class="btn btn-primary btn-xl">{{ .button.text }}</a>
                    <span class="version text">&nbsp;&nbsp;{{ .button.version | markdownify }}</span>
                {{ end }}
            </div>
        </div>
    </div>
</section>
