{{ "<!-- Live Visual Programming -->" | safeHTML }}
<section id="Features">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ .Site.Params.Overview.headline }}</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
          {{ range ((where .Site.RegularPages "Section" "TopFeatures").ByParam "id") }}
            <div class="col-md-5 mr-auto col-md-border">
              <div class="row g-0 flex-md-row mb-5 h-md-250 position-relative">
                <div class="col-6" style="color: #fff">
                  {{ with .Params.img}}
                    <img src="{{ . }}" class="img-fluid">
                  {{ end }}
                  {{ with .Params.VimeoVideo}}
                    <div class="vimeoVideo" style="padding:56.25% 0 0 0;position:relative;">
                      <iframe src="https://player.vimeo.com/video/{{ . }}?autoplay=1&loop=1&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen>
                      </iframe>
                    </div>
                    <script src="https://player.vimeo.com/api/player.js"></script>
                  {{ end }}
                </div>
                <div class="col-6">
                  <h5 class="mb-0 mb-3" style="color: #fff; font-weight: bold;">{{ .Title }}</h5>
                  <div style="font-size: 0.8em; color: #ddd;">{{ .Content  | markdownify }}</div>
                </div>
              </div>
            </div>
          {{ end }}  
        </div>
        <br>
        <div class="row justify-content-md-center">
          <div class="col col-lg-3 text-center">
            <a href="#{{ .Site.Params.Hero.learnmoreButtonLink }}" class="btn btn-primary btn-xl" data-toggle="modal" data-target="#{{ .Site.Params.Overview.buttonLink }}">{{ .Site.Params.Overview.button }}</a>
          </div>
        </div>
    </div>


<!-- MODAL WINDOW -->
  <div class="modal" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{ .Site.Params.Overview.modalWindowTitle }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                  <!-- Features Menu -->
                  <a class="nav-link active" id="v-pills-features-tab" data-toggle="pill" href="#v-pills-features" role="tab" aria-controls="v-pills-features" aria-selected="true">{{ .Site.Params.Overview.modalFeaturesTitle }}</a>

                  <!-- Overview Menu -->
                  {{ $sections := ((.Site.GetPage "Overview").Sections).ByParam "id" }}
                  {{ range $index, $sections }}
                    <a class="nav-link" id="v-pills-{{ .Params.id }}-tab" data-toggle="pill" href="#v-pills-{{ .Params.id }}" role="tab" aria-controls="v-pills-{{ .Params.id }}" aria-selected="false">{{ .Title }}</a>
                  {{ end }}
                </div>
              </div>

              <div class="col-9 mt-4 ml-3 mt-sm-0 ml-sm-0">
               <div class="tab-content" id="v-pills-tabContent">
                 <!-- Features Tab -->
                 <div class="tab-pane fade show active" id="v-pills-features" role="tabpanel" aria-labelledby="v-pills-features-tab">
                    {{ range ((where .Site.RegularPages "Section" "TopFeatures").ByParam "id") }}
                      {{ partial "featureTab" .}}
                    {{ end }}
                 </div>

                 <!-- Overview Tabs -->
                 {{ range $index, $sections}}
                   <div class="tab-pane fade" id="v-pills-{{ .Params.id }}" role="tabpanel" aria-labelledby="v-pills-{{ .Params.id }}-tab">
                     {{ range (.RegularPages).ByParam "id"}}
                        {{ partial "featureTab" .}}
                     {{ end }}
                  </div>
                {{ end }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
