{{ "<!-- Live Visual Programming -->" | safeHTML }}
<section id="Features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ .Site.Params.Overview.headline }}</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
          <<div class="col mt-3">


            <div id="liveCarousel">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="60000">
                <ol class="carousel-indicators">
                  {{ range $index, $seq := ((where .Site.RegularPages "Section" "TopFeatures").ByParam "id") }}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ $index }}" class="{{ if eq $index 0 }} active {{ end }}"></li>
                  {{ end }}
                </ol>
                <div class="carousel-inner">
                  {{ range ((where .Site.RegularPages "Section" "TopFeatures").ByParam "id") }}
                      <div class="carousel-item {{ if eq .Params.id 0 }} active {{ end }}">
                        <div class="feature">
                          <div class="container-fluid">
                            <div class="row justify-content-center">
                              <div class="col-9 col-xl-5">
                                {{ with .Params.img}}
                                  <img src="{{ . }}" class="img-fluid">
                                {{ end }}
                                {{ with .Params.video}}
                                <div class="embed-responsive embed-responsive-16by9 video">
                                    <video class="embed-responsive-item" autoplay loop controls muted>
                                        <source src="{{ . }}" type="video/mp4">
                                    </video>
                                </div>
                                {{ end }}
                              </div>
                              <div class="col-9 col-xl-3 mt-3 mt-xl-0">
                                <div class="description">
                                    <h4>{{ .Title }}</h4>
                                    <p>{{ .Content  | markdownify }}</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  {{ end }}
                  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
              </div>
            </div>
        </div>
        <br>
        <div class="row justify-content-md-center">
          <div class="col col-lg-3 text-center">
            <a href="#{{ .Site.Params.Hero.learnmoreButtonLink }}" class="btn btn-primary btn-xl" data-toggle="modal" data-target="#{{ .Site.Params.Overview.buttonLink }}">{{ .Site.Params.Overview.button }}</a>
          </div>
        </div>
      </div>
    </div>
    </div>

<!-- MODAL WINDOW -->
  <div class="modal" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{ .Site.Params.Overview.modalWindowTitle }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                  <!-- Features Menu -->
                  <a class="nav-link active" id="v-pills-features-tab" data-toggle="pill" href="#v-pills-features" role="tab" aria-controls="v-pills-features" aria-selected="true">{{ .Site.Params.Overview.modalFeaturesTitle }}</a>

                  <!-- Overview Menu -->
                  {{ $sections := ((.Site.GetPage "Overview").Sections).ByParam "id" }}
                  {{ range $index, $sections }}
                    <a class="nav-link" id="v-pills-{{ .Params.id }}-tab" data-toggle="pill" href="#v-pills-{{ .Params.id }}" role="tab" aria-controls="v-pills-{{ .Params.id }}" aria-selected="false">{{ .Title }}</a>
                  {{ end }}
                </div>
              </div>

              <div class="col-9 mt-4 ml-3 mt-sm-0 ml-sm-0">
               <div class="tab-content" id="v-pills-tabContent">
                 <!-- Features Tab -->
                 <div class="tab-pane fade show active" id="v-pills-features" role="tabpanel" aria-labelledby="v-pills-features-tab">
                    {{ range ((where .Site.RegularPages "Section" "TopFeatures").ByParam "id") }}
                      {{ partial "featureTab" .}}
                    {{ end }}
                 </div>

                 <!-- Overview Tabs -->
                 {{ range $index, $sections}}
                   <div class="tab-pane fade" id="v-pills-{{ .Params.id }}" role="tabpanel" aria-labelledby="v-pills-{{ .Params.id }}-tab">
                     {{ range (.RegularPages).ByParam "id"}}
                        {{ partial "featureTab" .}}
                     {{ end }}
                  </div>
                {{ end }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
