{{ "<!-- LEARN -->" | safeHTML }}
<section id="learn">
    {{ with .Site.Params.Learn.headline }}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ . }}</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
    {{ end }}
    <div class="container">
        <div class="row">
            {{ range .Site.Params.Learn.list }}
            <div class="col-lg-3 text-center">
                <div>
                    <a href="{{ .link }}" class="noUnderline">
          					       <i class="fa fa-4x {{ .icon }}"></i>
          					</a>
                    <h3>{{ .title }}</h3>
                        <p class="text-muted">{{ .description }}</p><br><a href="{{ .link }}" class="btn btn-default btn-xl noUnderline onWhite">{{ .text }}</a>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
