{{ "<!-- MADE WITH GAMMA -->" | safeHTML }}
<section id="MadeWithGamma">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2>{{ .Site.Params.MadeWithGamma.headline }}</h2>
                <hr>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">

                <!-- Carousel for > SM: Two items visible -->
                <div class="d-none d-md-block">
                    <div id="MadeWithGammaCarousel2" class="carousel slide" data-ride="carousel" data-interval="false">
                        {{ $pages := (where .Site.RegularPages "Section" "MadeWithGamma").ByParam "id" }}
                        {{ $len := len $pages }}
                        {{ $seq := seq 0 2 (sub $len 1) }}
                        <ol class="carousel-indicators">
                            {{ range $index, $elem:= $seq }}
                                <li data-target="#MadeWithGammaCarousel2" data-slide-to="{{ $index }}" class="{{if eq $elem 0}}active{{end}}"></li>
                            {{ end }}
                        </ol>
                        <div class="carousel-inner">
                            <div class="wrapper">
                                <div class="row mx-5">
                                    {{ range $elem:= $seq }}
                                    <div class="carousel-item {{if eq $elem 0}}active{{end}}">
                                        <div class="row justify-content-around my-3">
                                            {{ partial "madeWithGammaCard" (dict "context" (index $pages $elem) "index" $elem) }}
                                            {{ with (add $elem 1)}}
                                                {{ partial "madeWithGammaCard" (dict "context" (index $pages .) "index" .) }}
                                            {{ end }}
                                        </div>
                                    </div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>

                        <button class="carousel-control-prev" type="button" data-target="#MadeWithGammaCarousel2" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-target="#MadeWithGammaCarousel2" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </button>
                    </div>
                </div>

                <!-- Carousel for < md: One visible -->
                <div class="d-block d-md-none">
                    <div id="MadeWithGammaCarousel1" class="carousel slide" data-ride="carousel" data-interval="false">
                        <ol class="carousel-indicators">
                            {{ range $index, $elem:= $pages }}
                                <li data-target="#MadeWithGammaCarousel1" data-slide-to="{{ $index }}" class="{{if eq $index 0}}active{{end}}"></li>
                            {{ end }}
                        </ol>
                        <div class="carousel-inner">
                            <div class="wrapper">
                                <div class="row mx-sm-5">
                                    {{ range $index, $elem:= $pages }}
                                    <div class="carousel-item {{if eq $index 0}}active{{end}}">
                                        <div class="row justify-content-center">
                                            {{ partial "madeWithGammaCard" (dict "context" $elem "index" $index) }}
                                        </div>
                                    </div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>

                        <button class="carousel-control-prev" type="button" data-target="#MadeWithGammaCarousel1" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-target="#MadeWithGammaCarousel1" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>