{{ "<!-- REQUEST A DEMO -->" | safeHTML }}
<div id="requestADemo" style="visibility:hidden;">
    <div class="container-sm">
        <div class="row">
            <div class="col">
                <b>Curious to see how vvvv can help you get things done?
                    We'd like to give you a tour!</b>
            
                    vvvv is equally well suited for realizing projects and using it in research and education.
                    You can start your own research about vvvv in The Gray Book or request a demo, where we jump on a screen-share call with you and answer all your questions. This should be the quickest way to figure out if vvvv could be a good fit for you and your team.           
            </div>
        </div>
    </div>
</div>