{{ "<!-- SHOWREEL -->" | safeHTML }}
{{ with .Site.Params.Showreel }}
<section id="Gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ .headline }}</h2>
                <hr class="primary">
                <p class="text-faded">{{ .subline }}</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row no-gutter">
          <div class="col-lg-8 offset-lg-2 text-center vimeoVideo">
            {{ partial "vimeo" .vimeo }}
          </div>
        </div>
    </div>
</section>
{{ end }}
