{{ "<!-- SUPPORT -->" | safeHTML }}
<section id="Support">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading text-light">{{ .Site.Params.support.headline }}</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="container mt-4 mb-5">
        <div class="col d-flex">
            <div class="row .h-100 row-cols-sm-1 row-cols-md-1 row-cols-lg-3 row-cols-xl-3">
                    {{ range ((where .Site.RegularPages "Section" "Support").ByParam "id") }}
                     {{ partial "supportSection" .}}
                    {{ end }}
            </div>
        </div>
    </div>
</section>